name: Fetch SL Metro Data Quarterly

on:
  schedule:
    - cron: "0,30 * * * *"   # every 30 minutes
  workflow_dispatch:

jobs:
  Quarterly_Pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: pip
        
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r src/pipeline/requirements_fetch.txt

      - name: Run pipeline
        env:
          HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}
          STATIC_API_KEY: ${{ secrets.STATIC_API_KEY }}
          REALTIME_API_KEY: ${{ secrets.REALTIME_API_KEY }}
        run: |
          python -m src.pipeline.1_ingest_and_upload
